@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
.max-container{
  background-color: white;
  height: 100%;
  width: 95%;
  display:flex;
  flex-direction: column;
  }
  .navBar{
    display:flex;
    align-items:flex-end;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 20%;
   
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    
  }
  h1{
    font-family: 'Kalnia', serif;
    text-decoration:underline;
  }
  .nav-link{
    color:black !important;
  }
  .nav-link:hover{
    background-color:palevioletred;
  }
  
  .brand{
    
    display:flex;
    align-items:center;
    
    justify-content: center;
    height: 100%;
    width: 10%;
    
  }
  .brand img{
    margin-top: 1rem;
    height: 100%;
    width: 85%;
    margin-bottom: 0.5rem;
    transition: transform 0.5s
  }
  .chakra-card{
    background-color: rgb(246, 220, 224);
  }
  .brand img:hover{
    transform: rotate(360deg);
  }
  .izquierdaHome ,.derechaHome{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
 
  height: 100%;
  width: 25%;
  }

  .centroHome{
    
    height: 100%;
    width: 50%;
  }
  .linkHome:hover{
    opacity: 0.70;
  }
  .centroHome img{
    height: 100%;
    width: 100%;
    border:1px solid pink;

  }
  .categoriasHome{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    flex-wrap: wrap;
  }

  .seccionHome img{
    margin-top: 1rem;
    height: 55%;
    width: 80%;
  }
  .textSeccionHome
  {
    font-family: 'Grape Nuts', cursive;
   
    font-weight: bold;
  }
  .linkHome{
    
    height: 45%;
    width: 45%;

  }
.seccionHome{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
    width: 100%;
  border-radius: 10px;
  background-color: #ffd6e0;
}



.cartWidget{
  display:flex;
  margin-left: auto;
  margin-right: 1rem;
  align-items: end;
}

.nav{

  margin-bottom:1rem;
  margin-left: 4rem;
  font-family: 'Kalnia', serif;
  color:pink;
  font-size: 1.5rem;
}

.show{
  background-color: rgb(215, 197, 197)!important;
}
.dropdown-menu{
 width: 15rem;
}

.nav-link{
  
  padding:0!important ;
  margin-right: 2rem;
  
}
.nav-link{
  
  padding: 0;
 
}
.dropdown-item {
  padding: 0 !important;
  margin:0;
  font-family: 'Kalnia', serif;
 font-size: 1.5rem;
}
.link{
  text-align: center;
  display:block;
  margin:0;
 
  width: 100%;
}

 .main{
 width: 100%;
 height: auto;

 flex-direction:column;  
 align-items: center;
 animation: aparecerDesdeDerecha 1s ease-in-out;
 }
 @keyframes aparecerDesdeDerecha {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}




 .cards-container{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
 gap: 1rem;
 
 
 }
 .card-item{
  height: 15rem;
  width: 12rem;

 
 }

.card-title{
  font-family: 'Single Day', cursive;
  text-decoration:underline;

}

.card-link{
  width: 100%;
  height: 100%;
  
}
.itemBody{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
  padding: 0!important;
  
}
.cardText{
  align-items: center;
  justify-content: center;
  
  height: 35%;
}
.card-link:hover{
  opacity: 0.6;
}
.card-img{
 
  height: 65%;
  width: 90%;
 }
 .card-cod{
  font-size:0.4rem;
 }

 

 
 .productDetail{
  margin-top: 2rem;
  width: 90%;
 
  height: 100%;
  border-radius: 2%;
  font-family: 'Dosis', sans-serif;
  background-color: rgb(231, 176, 184);

 }
 .carousel-inner{
  border: 2px solid pink;
  height: 100%;
 }
 .carousel-control-next-icon,
 .carousel-control-prev-icon,
 .carousel-indicators
 {
  background-color: rgb(86, 81, 81);
  opacity: 0.5;
 }
 
 
 .product-price ,.cantidad{
  font-family: 'Courier New', Courier, monospace;
 }
 .cantidad{
  margin-left:1rem;
  margin-right:1rem;
 }
  
 .prod-carousel{
  margin-top: 1%;
  margin-left:1%;
  height: 90%;
  width: 30%;
 }
 .prod-carousel-img{

height: 100%;
width: 100%;
 }
 .prod-carousel-img img{
  height: 100%;
  width: 100%;
 }
  
 .cartNumber{
  width: 1.2rem;
  height: 1.2rem;
  background-color: blueviolet;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 50%;
  border:0.2px solid black;
 }
 
 .product-imgen img{
  height: 100%;
  width: 100%;
 }
 


.mainDetail{
  display:flex;
height: 18rem;
background-color: rgb(237, 198, 205);
width: 80%;
border-radius: 16px;
flex-direction: row;
}
.datosProducto{
display:flex;
width: 100%;
flex-direction: column;
margin-left: 1rem;
}
  .cardTalles{
    
    margin-top: 1rem;
  }
.producto-titulo{
  font-family: 'Single Day', cursive;
  font-style: oblique;
  text-decoration: underline;
  text-align: center;
  margin-left: 1rem;
  font-size: 2rem;
}
 .button-tails{
  margin-left:1rem;
  
  
 }
 .comprar{
  margin-top: auto;
margin-right: 2rem;
 justify-content:space-between;
 
}


 
  .cart{
  height: 15rem;
  overflow: auto;
  justify-content: center;
  border-right: 1px solid pink;
  }
  .tdImagen{
   height: 3rem;
   
  }
  .tdNombre ,.tdTalle,.tdCantidad{
   
    border-right: 2px solid gray;
    justify-content: center;
    text-align: center;
  }
  .cartBody tr:nth-child(even) {
    background-color: #ffd6e0;  /* Color rosado para los renglones pares */
  }
  
  .cartBody tr:nth-child(odd) {
    background-color: transparent;  /* Sin color para los renglones impares */
  }
  
  .tr{
    border:1px solid pink;
  }
  

  
  .tdImagen img{
    
    width: 100%;
    height: 100%;
  }
  
  .tdNombre{
    font-family: 'Single Day', cursive;
  font-style: oblique;
  text-decoration: underline;
  
  justify-content: center;
  }
  .tdCantidad{
    font-size: 0.9rem;
  }
  .totales{
margin-left: 1rem;
   
  }
  .total{
    border-bottom: 1px solid pink;
  }
  .barraCarga{
   
    width: 30rem;
  }
  .datosCliente{
    display:flex;
    width: 100%;
   
    flex-direction: column;
    
   }
.boxForm{
  display:flex;
 padding-top: 1rem;
 padding-bottom: 1rem;
  justify-content: center;
 
}
 .labelForm{
  padding-left: 1rem;
 padding-right: 1rem;
 }
 
  .Footer{
    width: 100%;
    height: 20rem;
    border-top:2px solid pink;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  .footerDerecha,
  .footerIzquierda
  {
    height: 100%;
    width: 30%;
  }
  .footerCentro{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footerIzquierda img{
    width: 100%;
    height: 100%;
  }
  .footerDerecha{
    display: flex;
    border:2px dotted pink;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerRed{
    
    display: flex;
    
    
    flex-direction: row;

  }
  .textoRed{
    font-size: 0.8rem;
  }